* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'open sans';
    margin: 0;
    padding: 0;
}


/*Nav - Menu de Navegación*/

header {
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: 0 1pt 6pt #2B2B2B;
    position: relative;
    z-index: 800;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.container-nav a {
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.container-nav .logo {
    margin-left: 40px;
    font-size: 18pt;
}

.container-nav .logo a {
    text-decoration: none;
    color: #E86020;
}

.container-nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 40px;
    height: 40px;
}

.container-nav>ul>li {
    display: flex;
    margin: 0 15px;
    align-items: center;
    height: 40px;
}

.container-nav>ul>li>input[type="text"] {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 250px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid gray;
}

.container-nav>ul>li>a {
    text-decoration: none;
}

.usuario {
    text-decoration: underline;
}


/*Dropdown*/

.container-nav ul li ul {
    display: none;
    background-color: white;
    top: 40px;
    list-style: none;
    position: fixed;
    box-shadow: 0pt 2pt 3pt #2B2B2B;
    border-bottom-left-radius: 10pt;
    border-bottom-right-radius: 10pt;
    width: auto;
    padding: 5px 10px;
}

.container-nav>ul>li>ul>a {
    font-size: 11pt;
    color: #2B2B2B;
    margin: 5px;
}

.container-nav>ul>li>ul>a:hover {
    text-decoration-color: #FE505A;
}

.container-nav ul li:hover ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}