* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'open sans';
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'open sans';
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;
    box-shadow: 0 1pt 6pt #2B2B2B;
    position: relative;
    z-index: 800;
}

.container-nav {
    display: flex;
    flex-wrap: wrap;
    block-size: auto;
    width: 100%;
    padding: 5px;
    height: auto;
}


/*Vista movil*/

.Logo {
    margin: 0 20px 0 20px;
    width: 45%;
}

.Logo a {
    color: #E86020;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.mostrarmenu {
    width: 40%;
    margin-right: 20px;
    text-align: right;
}

.mostrarmenu span {
    color: #E86020;
    font-size: 18px;
    font-weight: bold;
}

.menu-items {
    align-items: right;
    width: 100%;
    list-style: none;
    background-color: black;
}

.menu-items li {
    width: fit-content;
}

.menu-items li a {
    text-decoration: none;
}

.menu-items li a i {
    margin-left: 5px;
}


/*droopdown*/

.menu-items ul {
    display: none;
}

.menu-items ul li {
    margin-left: 20px;
    list-style: none;
    background-color: #d2d2d2;
    width: max-content;
}

.menu-items li:hover>ul {
    display: flex;
}

@media only screen and (min-width:800px) {
    .mostrarmenu {
        display: none;
    }
}