* {
    box-sizing: border-box;
}

.boton{
    text-decoration: none;
    border: 1px solid gray;
    background-color: rgb(221, 221, 221);
    color: blue;
    font-weight: 700;
}

.boton:hover{
    background-color: rgb(236, 236, 236);
}

/*Slider*/

.slide-contenedor {
    max-width: 100%;
    max-height:80vh;
    width: 90%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.miSlider img {
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

.barras {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.barra {
    cursor: pointer;
    height: 2px;
    width: 25px;
    margin: 0 2px;
    background: #5a6cb6;
    display: inline-block;
    margin-left: 3px;
}

.active {
    background-color: #e74c3c;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

/*Categorias*/

.Categoria{
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
}
.Categoria h2{
    margin-bottom: 20px;
    width: 100%;
    max-width: auto;
    text-align: center;
}

.contenedor-categoria{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: auto;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

.item{
    margin:auto;
    width: 20%;
    height: auto;
    border: 1px solid black;
}

/*promociones*/
.promocion{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.promocion h2{
    margin-bottom: 20px;
    width: 100%;
    max-width: auto;
    text-align: center;
}

.contenedor-promocion{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: auto;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}
