* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'open sans';
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    background-color: #ffffff;
    height: auto;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 1pt 6pt #2B2B2B;
    margin-bottom: 80px;
}

header a {
    color: #E86020;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.conteinerlogin {
    width: 95%;
    margin: auto;
    margin-top: 40;
}

.conteinerlogin .formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: #e2e2e2;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 20px;
}

@media only screen and (min-width:800px) {
    .conteinerlogin {
        width: 75%;
    }
    .conteinerlogin .formulario {
        width: 40%;
    }
}

.conteinerlogin .formulario h2 {
    margin-bottom: 10px;
}

.conteinerlogin .formulario .item [type="text"] {
    width: calc();
    height: 30px;
    margin-bottom: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid black;
}

.conteinerlogin .formulario .item [type="password"] {
    width: calc();
    height: 30px;
    margin-bottom: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid black;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones button {
    padding: 5px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: #E86020;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: none;
    cursor: pointer;
}

.botones button:hover {
    background-color: #E86020;
    color: #ffffff;
}

.botones .izquierda span {
    font-weight: 600;
}

.conteinerlogin .formulario .mensaje {
    height: auto;
    background-color: white;
}

.conteinerlogin>.formulario>.mensaje>p {
    color: green;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

footer span {
    text-align: center;
}