.tabla table {
    background-color: rgba(245, 245, 245, 0.938);
    width: 80%;
    max-width: 80%;
    margin: auto;
    margin-top: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1.5px solid #026A8E;
    border-collapse: collapse;
}

table thead {
    font-size: 1.5em;
    color: blue;
    border-bottom: 1.5px solid #026A8E;
}

table tbody {
    font-size: 1.4em;
}

table tbody tr td {
    border-right: 1.5px solid #026A8E;
    padding: 3px;
}