.tabla table {
    background-color: rgba(245, 245, 245, 0.938);
    min-width: auto;
    margin: auto;
    margin-top: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1.5px solid #026A8E;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    padding: 10px;
}

table thead {
    font-size: 1.5em;
    color: blue;
    border-bottom: 1.5px solid #026A8E;
}

table tbody {
    font-size: 1.4em;
}

table tbody tr td {
    border-right: 1.5px solid #026A8E;
    border-bottom: 1.5px solid #026A8E;
    width: 200px;
    height: 23vh;
    padding: 3px;
}

table tbody tr td img {
    overflow: hidden;
    object-fit: cover;
    height: inherit;
    margin: auto;
    vertical-align: center;
}

@media only screen and (min-width: 800px) {
    .tabla table {
        width: auto;
        overflow: none;
    }
}